// Import variables
@import "./variables.scss";

// Component styles
.app-container {
  width: 100vw;
  height: 100vh;
  background: $map-black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  padding: 16px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none !important;

  &-left {
    display: flex;
    align-items: center;
    gap: 12px;

    h1 {
      color: $color-30;
      font-size: 24px;
      font-family: "Lexend", sans-serif;
      font-weight: 500;
    }

    .status-dot {
      width: 13.33px;
      height: 13.33px;
      background: $color-10;
    }
  }

  &-right {
    display: flex;
    gap: 4px;
    button {
      padding: 0.75rem 1rem;
    }
  }
}

.two-column-layout {
  display: flex;
  gap: 24px;
  padding: 0 24px 24px 24px;
  height: calc(100vh - 90px); // Trừ đi chiều cao của header và padding

  .left-column {
    min-width: 24vw;
    max-width: 480px;
    background: $main-bg;
    border-radius: 24px;
    padding: 32px;
    border-left: 1px solid rgba($color-30, 0.08);
    border-top: 1px solid rgba($color-30, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    h2 {
      color: $color-30;
      font-size: 24px;
      font-family: "Lexend", sans-serif;
      font-weight: 500;
      margin-bottom: 16px;
    }
    #leftColumnTitle {
      position: absolute;
      top: 32px;
    }
    .transcripts {
      // flex-grow: 1;
      margin-bottom: 16px;
    }

    p {
      color: $color-30;
      background: transparent;
      padding: 0;
      border-radius: 0;
      width: 100%;
      margin-top: 8px;
    }

    #record-button {
      background-color: $color-10;
      color: $color-30;
      border: none;
      border-radius: 24px;
      padding: 12px 24px;
      font-size: 16px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($color-10, 10%);
      }

      img {
        width: 16px;
        height: 16px;
        margin-right: 8px;
      }

      &.Active {
        border: 1px solid $color-10;
        background: $color-60-black-alt;
      }
      &.Active:hover {
        background: $color-60-black;
        background-color: $color-10;
      }

      &.OnCalling {
        background: $color-60;
        border-color: $color-60-blue;
      }
      &.OnCalling:hover {
        background: $color-60-blue;
      }
    }
  }

  .right-column {
    flex: 1;
    background: $main-bg;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgba($color-30, 0.08);
    border-top: 1px solid rgba($color-30, 0.08);
    overflow: hidden;
    ::-webkit-scrollbar {
      display: none;
    }

    .ResponseAwaiting {
      width: auto;
      text-align: center;
    }
  }
}

.main-content {
  flex: 1;
  padding: 0 24px 24px;
  display: flex;
  gap: 24px;
  transition: all 1.33s cubic-bezier(0.25, 0, 0, 1);
}

.config-panel {
  width: 480px;
  padding: 32px;
  background: $main-bg;
  border-radius: 24px;
  border-left: 1px solid rgba($color-30, 0.08);
  border-top: 1px solid rgba($color-30, 0.08);

  h2 {
    color: $color-30;
    font-size: 24px;
    font-family: "Lexend", sans-serif;
    font-weight: 500;
  }
}

.chat-panel {
  flex: 1;
  background: $main-bg;
  border-radius: 24px;
  border-left: 1px solid rgba($color-30, 0.08);
  border-top: 1px solid rgba($color-30, 0.08);
  display: flex;
  flex-direction: column;
}

.messages-container {
  flex: 1;
  padding: 24px 16px;
  padding-bottom: 8px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column-reverse; // Change this to column
  gap: 16px;
  overflow-y: scroll;
}

.ContentAwaiting {
  align-items: center;
  justify-content: center;
  background: $color-60-black-alt;
}

.message {
  padding: 12px;
  border-radius: 16px;
  max-width: 80%;

  &.received {
    align-self: flex-start;
    background: $color-10;
    color: $color-30;
  }

  &.sent {
    align-self: flex-end;
    background: $color-60-alt;
    color: $color-30;
  }

  img {
    max-width: 400px;
    border-radius: 8px;
  }
}

.input-area {
  position: sticky;
  bottom: 24px;
  padding: 0 32px;
  // margin-bottom: 24px;
  background: $main-bg; /* Ensure background matches */
  z-index: 10; /* Ensure it stays on top */

  .input-container {
    display: flex;
    align-items: center;
    gap: 12px;
    background: $color-60-alt;
    border-radius: 12px;
    padding: 8px;
    border-left: 1px solid rgba($color-30, 0.08);
    border-top: 1px solid rgba($color-30, 0.08);
  }

  .text-input {
    flex: 1;
    background: rgba($color-60-black, 0.38);
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
    height: 48px; // Thêm chiều cao cố định

    .message-icon {
      margin-left: 12px; // Chuyển padding sang margin
      width: 24px;
      height: 24px;
    }

    input {
      flex: 1;
      background: transparent;
      border: none !important;
      stroke: none;
      outline: none;
      color: $color-30;
      margin-right: 12px; // Thêm margin
      height: 100%; // Fill kín chiều cao của parent
      &::placeholder {
        color: rgba($color-30, 0.5);
      }
    }
  }

  .media-button {
    padding: 12px 24px;
    background: rgba($color-60-black, 0.38);
    border-radius: 8px;
  }

  .send-button {
    padding: 12px 32px;
    background: $color-10 !important;
    border-radius: 24px;
  }
}

#inputArea {
  // padding: 0;
  padding-left: 16px;
  padding-right: calc(32px + 48px);
  // margin-bottom: 24px;

  #inputContainer {
    display: flex;
    align-items: center;
    gap: 12px;
    background: $color-60-alt;
    border-radius: 12px;
    padding: 8px;
    padding-right: 60px;
    border-left: 1px solid rgba($color-30, 0.08);
    border-top: 1px solid rgba($color-30, 0.08);
    position: relative;
  }

  #textInput {
    flex: 1;
    background: rgba($color-60-black, 0.38);
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
    height: 48px;

    #messageIcon {
      margin-left: 12px;
      width: 24px;
      height: 24px;
    }

    #messageInputField {
      flex: 1;
      background: transparent;
      border: none !important;
      stroke: none;
      outline: none;
      color: $color-30;
      margin-right: 12px;
      height: 100%;
      &::placeholder {
        color: rgba($color-30, 0.5);
      }
    }
  }

  .media-button {
    padding: 12px 24px;
    background: rgba($color-60-black, 0.38);
    border-radius: 8px;
  }

  #sendButton {
    padding: 12px 32px;
    background: $color-10;
    border-radius: 24px;
    position: absolute;
    right: 0;
    width: 96px;
    transition: all 0.3s ease;
    transform: translateX(50%);
  }
  #sendButton:hover {
    background: $color-10-dark !important;
  }
}
