.app-container {
  width: 100vw;
  height: 100vh;
  background: #151515;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.header {
  padding: 24px 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none !important;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.header-left h1 {
  color: #ffffff;
  font-size: 24px;
  font-family: "Lexend", sans-serif;
  font-weight: 500;
}

.header-left .status-dot {
  width: 13.33px;
  height: 13.33px;
  background: #e72166;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.two-column-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  padding: 0 24px 24px 24px;
  height: calc(100vh - 90px);
}

.two-column-layout .left-column {
  min-width: 24vw;
  max-width: 480px;
  background: #1c1d20;
  border-radius: 24px;
  padding: 32px;
  border-left: 1px solid rgba(255, 255, 255, 0.08);
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.two-column-layout .left-column h2 {
  color: #ffffff;
  font-size: 24px;
  font-family: "Lexend", sans-serif;
  font-weight: 500;
}

.two-column-layout .right-column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #1c1d20;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 1px solid rgba(255, 255, 255, 0.08);
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  overflow: hidden;
}

.two-column-layout .right-column ::-webkit-scrollbar {
  display: none;
}

.main-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 24px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.config-panel {
  width: 480px;
  padding: 32px;
  background: #1c1d20;
  border-radius: 24px;
  border-left: 1px solid rgba(255, 255, 255, 0.08);
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.config-panel h2 {
  color: #ffffff;
  font-size: 24px;
  font-family: "Lexend", sans-serif;
  font-weight: 500;
}

.chat-panel {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #1c1d20;
  border-radius: 24px;
  border-left: 1px solid rgba(255, 255, 255, 0.08);
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.messages-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 24px 16px;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 16px;
  overflow-y: scroll;
}

.message {
  padding: 12px;
  border-radius: 16px;
  max-width: 80%;
}

.message.received {
  -ms-flex-item-align: start;
      align-self: flex-start;
  background: #e72166;
  color: #ffffff;
}

.message.sent {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: #323441;
  color: #ffffff;
}

.message img {
  max-width: 400px;
  border-radius: 8px;
}

.input-area {
  position: -webkit-sticky;
  position: sticky;
  bottom: 24px;
  padding: 0 32px;
  background: #1c1d20;
  /* Ensure background matches */
  z-index: 10;
  /* Ensure it stays on top */
}

.input-area .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  background: #323441;
  border-radius: 12px;
  padding: 8px;
  border-left: 1px solid rgba(255, 255, 255, 0.08);
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.input-area .text-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: rgba(0, 0, 0, 0.38);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  height: 48px;
}

.input-area .text-input .message-icon {
  margin-left: 12px;
  width: 24px;
  height: 24px;
}

.input-area .text-input input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: transparent;
  border: none !important;
  stroke: none;
  outline: none;
  color: #ffffff;
  margin-right: 12px;
  height: 100%;
}

.input-area .text-input input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.input-area .text-input input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.input-area .text-input input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.input-area .text-input input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.input-area .media-button {
  padding: 12px 24px;
  background: rgba(0, 0, 0, 0.38);
  border-radius: 8px;
}

.input-area .send-button {
  padding: 12px 32px;
  background: #e72166 !important;
  border-radius: 24px;
}

#inputArea {
  padding-left: 16px;
  padding-right: calc(32px + 48px);
}

#inputArea #inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  background: #323441;
  border-radius: 12px;
  padding: 8px;
  padding-right: 60px;
  border-left: 1px solid rgba(255, 255, 255, 0.08);
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  position: relative;
}

#inputArea #textInput {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: rgba(0, 0, 0, 0.38);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  height: 48px;
}

#inputArea #textInput #messageIcon {
  margin-left: 12px;
  width: 24px;
  height: 24px;
}

#inputArea #textInput #messageInputField {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: transparent;
  border: none !important;
  stroke: none;
  outline: none;
  color: #ffffff;
  margin-right: 12px;
  height: 100%;
}

#inputArea #textInput #messageInputField::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#inputArea #textInput #messageInputField:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#inputArea #textInput #messageInputField::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#inputArea #textInput #messageInputField::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#inputArea .media-button {
  padding: 12px 24px;
  background: rgba(0, 0, 0, 0.38);
  border-radius: 8px;
}

#inputArea #sendButton {
  padding: 12px 32px;
  background: #e72166;
  border-radius: 24px;
  position: absolute;
  right: 0;
  width: 96px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

#inputArea #sendButton:hover {
  background: #9e0e40 !important;
}
/*# sourceMappingURL=Javier.css.map */