@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
}
body,
.App {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

button {
  background: #e9e7e7;
  border-radius: 16px;
  height: 48px;
  width: auto;
  color: #151515;
  padding: 16px;
  font-size: 1rem;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  line-height: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.66s cubic-bezier(0.25, 0, 0, 1);
}
button:hover {
  color: #e9e7e7;
  background: #151515;
}

h1 {
  text-align: center;
  font-size: 2.8rem;
}
p {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1rem;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 2px;
  span {
    background: #e9e7e7;
    padding: 12px;
    display: inline-block;
    border-radius: 8px;
  }
}

#Gemini-Input {
  width: 38vw;
  height: auto;
  min-height: 64px;
  font-size: 1rem;
  line-height: 1rem;
  background: #151515;
  color: white;
  border: none;
  outline: none;
  border-radius: 16px;
  padding: 8px;
  text-align: center;
  transition: all 1.33s cubic-bezier(0.25, 0, 0, 1);
}
#Gemini-Input:hover {
  background: #424242;
}
#Gemini-ResponseContent {
  margin-top: 4px;
}
#Voice-EngineSelect {
  min-height: 32px;
  padding: 8px;
  background: #e9e7e7;
  color: #151515;
  transition: all 0.66s cubic-bezier(0.25, 0, 0, 1);
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 8px;
}
#Voice-EngineSelect {
  background: #151515;
  color: white;
}
#audioPlayer {
  display: none;
}
